@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* .custom-bg-color {
  background-color: #865DFF;
}

.custom-text-color {
  color: #191825;
}

.custom-text-color-hover {
  color: #FFA3FD;
} */


/* Hide scrollbar for all browsers */
.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scroll-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}